<?xml version="1.0"?>
<!-- 
/**
 * @category   Surpassweb
 * @package    Surpassweb_Advancedtaxreport
 * @author     Reydel Leon <reydel@surpassweb.com>
 */
 -->
<config>
    <modules>
        <Surpassweb_Advancedtaxreport>
            <version>0.1.0</version>
        </Surpassweb_Advancedtaxreport>
    </modules>
    <admin>
        <routers>
			<advancedtaxreport>
				<use>admin</use>
				<args>
					<module>Surpassweb_Advancedtaxreport</module>
					<frontName>advancedtaxreport</frontName>
				</args>
			</advancedtaxreport>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<advancedtaxreport module="advancedtaxreport">
				<title>Surpassweb</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="advancedtaxreport">
						<title>Advanced Tax Report</title>
						<sort_order>0</sort_order>
						<action>advancedtaxreport/adminhtml_advancedtaxreport</action>
					</items>
				</children>
			</advancedtaxreport>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                        <Surpassweb_Advancedtaxreport translate="title" module="advancedtaxreport">
                            <title>Advancedtaxreport</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <advancedtaxreport translate="title">
                                    <title>Advanced Tax Report</title>
                                </advancedtaxreport>
                            </children>
						</Surpassweb_Advancedtaxreport>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<advancedtaxreport>
					<file>advancedtaxreport.xml</file>
				</advancedtaxreport>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <advancedtaxreport>
                <class>Surpassweb_Advancedtaxreport_Model</class>
                <resourceModel>advancedtaxreport_mysql4</resourceModel>
            </advancedtaxreport>
            <advancedtaxreport_mysql4>
                <class>Surpassweb_Advancedtaxreport_Model_Mysql4</class>
                <entities>
                    <advancedtaxreport>
                        <table>advancedtaxreport</table>
                    </advancedtaxreport>
                </entities>
            </advancedtaxreport_mysql4>
        </models>
        <resources>
            <advancedtaxreport_setup>
                <setup>
                    <module>Surpassweb_Advancedtaxreport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedtaxreport_setup>
            <advancedtaxreport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedtaxreport_write>
            <advancedtaxreport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedtaxreport_read>
        </resources>
        <blocks>
            <advancedtaxreport>
                <class>Surpassweb_Advancedtaxreport_Block</class>
            </advancedtaxreport>
        </blocks>
        <helpers>
            <advancedtaxreport>
                <class>Surpassweb_Advancedtaxreport_Helper</class>
            </advancedtaxreport>
        </helpers>
    </global>
</config>